h1 {
    font-family:Verdana;
    font-weight:normal;
    font-size:50px;
    color:white;
    text-align:center;
}
body {
    background-color: black;
    text-align: center;
}
h2 {
    color:aquamarine;
    font-size:16px;
}
h3 {
    font-family:Verdana;
    font-size:21px;
    color:gray;
}
h4 {
    font-family:Verdana;
    font-weight:300;
    font-size:42px;
    color:white;
    text-align:center;
}
footer {
    text-align: right;
    color:gray;
}